<div class="container">
<h1>Manage Home</h1>
<h3>Welcome from Home page</h3>
<h2><%=link_to("Sign Up",{:controller=>"users",:id=>"1"})  %><h2>
</br>
<%=link_to("go to index",{:action=>"index" ,:id=>"30",:name=>"mustafa"})  %>
</br>
<%=link_to("go to Admin",{:controller=>"admins",:action=>"index"})  %>
</div>